#map { width: 70vw ;
	 height: 98vh; }
.info { padding: 6px 8px;
		font: 14px/16px;
		background: white;
		background: rgba(255,255,255,0.8);
		box-shadow: 0 0 15px rgba(0,0,0,0.2);
		border-radius: 5px; }
.info h4 { margin: 0 0 5px;
			color: #777; }
.legend { 	text-align: left;
			line-height: 18px;
			color: #555; }
.legend i { width: 18px;
			height: 18px;
			float: left;
			margin-right: 8px;
			opacity: 0.7; }
			
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.wrapper > * {
  
  flex: 1 100%;
}

.header {
text-align: left;

}

.footer {

}

.main {
  text-align: left;
}

.aside-1 {
  background: gold;
}

.aside-2 {
	color:DarkSlateGrey;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 0.5em; 
}
a {
	font:Arial rounded;
	cursor: pointer
}
td {
	font-color:Darkgrey
}
nav {
	
	
}
.nav-link{
	text-color:DarkGoldenRod;
}
.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1
}
